/* Blue */
.theme-binarylogic .sidebar,
.theme-binarylogic .sidebar-toggle:active,
.theme-binarylogic #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #144075;
  background-image: radial-gradient(circle at top left, #1e589f, #144075)

}
.theme-binarylogic .container a,
.theme-binarylogic .sidebar-toggle,
.theme-binarylogic .related-posts li a:hover {
  color: #428bca;
}

.hero {
  padding: 3rem 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.hero .me {
  display: inline;
  border-radius: 50%;
  margin: 0;
  height: 100px;
}

.hero h1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}

.hero .tag-line {
  font-size: 1.25rem;
}